{% extends "quize/base.html" %}
{% block content %}
<div class="container">
        <div class="row ">
            <div class="col justify-content-start">
                <h1>Дорбро пожаловать</h1>
            </div>
        </div>
         <div class="row ">
            <div class="col-3 ">
                <h4>Что это такое ?</h4>
            </div>
           <div class="col-3 ">
                <h4>Как играть?</h4>
            </div>
           <div class="col-3 ">
                <h4>Плюшки</h4>
            </div>
        </div>
           <div class="row">
            <div class="col-3 ">
              <text>наш сервис предостовляет возможность участвовать в бесконечной викторине,
                соревнусь с другими игроками. С нашим приложением </text>
            </div>
               <div class="col-3 ">
                  <text>Всем игрокам единовремено предлагается ответить на вопрос, одинаковый для всех игроков. Каждый вопрос доступен ограниченое время. Для того бы, дать ответ, необходимо вписать ваш вариант ответа в текстовое поле. Когда хотя бы один игрок дает правильный ответ, система поздравляет победителя и начисляет ему очки пользователей, далее случайным образом выберается новый вопрос. Количество полученых очков зависит от сложности вопроса</text>
            </div>
                <div class="col-3 ">
                 <text>Зарегестрированые игроку получают бонусные балы за правильные ответы.
                   Бонусные балы позволяют разблокировать косметические доплнения, такие как цветное выделение никнейма и разнообразные значки.
                  </text>
            </div>
      </div>
        
                <div class="row justify-content-center">
                  <div class="col-4">
                    <h4>Приятной игры! </h4>
                  </div>
        </div> 
             <div class="row justify-content-center">
                  <div class="col-4">
                   <text>развевайте свои навыками</text>
                  </div>
        </div> 
    </div>
    <script src="<c:url value="/js/common.js" />"></script>
{% endblock content %}