{% extends "quize/base.html" %}
{% block content %}
{% comment %} <p>
</p> {% endcomment %}
    {% comment %} </div> {% endcomment %}
    {% comment %} <div class="col-md-4"> {% endcomment %}
    {% comment %} <table> {% endcomment %}
    <div class="list-quizes">
            {% for quize in quizes %}
                <div class="list-quize">
                    
                    <h1 class="quize-view"><a href="{% url 'quize-enigma' %}"> {{quize.title}} </a> </h1>
                   
                    <p class="quize-view">By {{quize.author}} on {{quize.date_posted}}</p>
                    <p class="quize-view">{{quize.content}}</p>
                </div>
            {% endfor %}
    </div>
        {% comment %} </td> {% endcomment %}
        {% comment %} <td class="list-quizes">
            {% if user.is_authenticated %}
            <div class="user-info">
                <h3>Name</h3>
                    <p class='text-muted'>{{user.email}}
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light">{{user.username}}</li>
                            <li class="list-group-item list-group-item-light">last quize score</li>
                            <li class="list-group-item list-group-item-light">money</li>
                        </ul>
                    </p>
            </div>
            {% else %}
            {% endif %}
        </td>
    </table> {% endcomment %}
{% endblock content %}