{% extends "quize/base.html" %}
{% block content %}
    <p>
    <div class="row ">
        <div class="col justify-content-center">
            <h1>Правила площадки</h1>

        </div>
    </div>
    <div class="row ">
        <div>

            <h2>QuiZZZ — интеллектуальная игра-викторина, для победы в которой вам понадобится проявить знания в самых
                разных
                областях.</h2>
        </div>
    </div>
    <div class="row">
        <p>

            В процессе игры вам будет предложено 12 вопросов возрастающей сложности, где каждый следующий открывается
            при
            условии правильного ответа на текущий. Ваша задача — пройти всю последовательность вопросов и получить
            максимальное количество монет. Во время ответа на вопрос вы дополнительно можете:

            Кроме обычной игры с вопросами по всем областям вы также можете сыграть в одну из тематических викторин,
            собранных в разделе «Тематические».

            По результатам игр зарегистрированных игроков составляются рейтинги.
            Рейтинги лучших игроков за последние 24 часа, за последние 7 дней и за все время составляются на основе
            суммирования всех выигранных монет за выбранный период времени. Таким образом, если вы достаточно много
            играете,
        </p>
        <p>
            то обязательно увидите себя в этих рейтингах.
            Рейтинг самых результативных игроков составляется на основе соотношения выигранных монет к количеству игр за
            последний месяц для игроков, сыгравших более 50 игр за этот интервал времени. Чтобы завоевать этот рейтинг,
            нужно стараться выигрывать максимальную сумму за каждую игру.
            Рейтинг дуэлей вычисляется по системе Эло. В рейтинг попадают игроки, сыгравшие не менее чем 30 дуэлей в
            течение
            месяца.


            Если вы вдруг заметили опечатку в вопросе или считаете, что вопрос некорректный или ответ на вопрос
            неправильный, вы можете сообщить нам об этом, нажав на ссылку «Ошибка в вопросе». Мы обязательно получим
            ваше
            сообщение и все исправим.

            Также мы будем рады получить от вас новые вопросы для викторины. Нажмите на ссылку «Добавить вопрос»,
            заполните
            форму и после проверки модератором ваш вопрос будет добавлен в игру. Рекомендуем ознакомиться с советами для
            составителей вопросов. Для создания авторской викторины нужно иметь 2 одобренных вопроса каждого уровня
            сложности.
            Администрация оставляет за собой право на любое использование, а также изменение как текста вопроса, так и
            его
            вариантов.

            Система обмена сообщениями позволит вам пообщаться с другим зарегистрированным пользователем и, например,
            обсудить игру, прошедший спринт или положение в турнирной таблице. Чтобы начать общение, нажмите на ссылку
            «Отправить сообщение» на странице игрока, с которым хотите связаться. Увидеть свои сообщения можно перейдя
            по
            ссылке «Мои сообщения» со страницы своего профиля. Если вам придет новое сообщение, то рядом с именем на
            странице игры появится конвертик, нажав на который откроется страница сообщений. Приятного общения!

        </p>

    </div>

    </p>
{% endblock content %}